@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(12, 12, 12);
    color: white;
    transition: background-color 1s ease, color 1s ease; 
  }
  .profile-div {
    background-image: url(https://media.tenor.com/i0jurz_PMSEAAAAC/dark-galaxy.gif);
  }
  .dark-mode {
    background-color: white;
    color: black;
  }
  